absl-py==1.4.0
accelerate==0.18.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
argilla==1.5.0
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.2.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.0
bitarray==2.7.3
bitsandbytes==0.37.2
black==21.4b2
boto3==1.26.102
botocore==1.29.102
Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
build==0.10.0
CacheControl==0.12.11
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
chromadb==0.3.21
cleo==2.0.1
click==8.1.3
clickhouse-connect==0.5.20
cloudpickle==2.2.1
cmake==3.26.1
coloredlogs==15.0.1
commonmark==0.9.1
crashtest==0.4.1
cryptography==40.0.1
cssselect2==0.7.0
cycler==0.11.0
cytoolz==0.12.1
dataclasses-json==0.5.7
datasets==2.11.0
decorator==5.1.1
Deprecated==1.2.13
dill==0.3.6
distlib==0.3.6
dnspython==2.3.0
duckdb==0.7.1
dulwich==0.21.3
effdet==0.3.0
entrypoints==0.4
et-xmlfile==1.1.0
eth-abi==4.0.0
eth-account==0.8.0
eth-hash==0.5.1
eth-keyfile==0.6.1
eth-keys==0.4.0
eth-rlp==0.3.0
eth-typing==3.3.0
eth-utils==2.1.0
executing==1.2.0
fastapi==0.95.0
ffmpy==0.3.0
filelock==3.10.7
Flask==2.2.3
flatbuffers==23.3.3
flexgen==0.1.7
frozenlist==1.3.3
future==0.18.3
fvcore==0.1.5.post20221221
geojson==2.5.0
ghostscript==0.7
google-auth==2.17.0
google-auth-oauthlib==0.4.6
google-search-results==2.4.2
googleapis-common-protos
gptcache
gradio==3.24.1
gradio_client==0.0.8
greenlet==2.0.2
grpc-gateway-protoc-gen-openapiv2==0.1.0
grpcio==1.53.0
h11==0.14.0
hexbytes==0.3.0
hnswlib==0.7.0
html5lib==1.1
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.13.3
humanfriendly==10.0
hupper==1.11
hydra-core==1.3.2
idna==3.4
importlib-metadata==6.1.0
install==1.3.5
installer==0.7.0
iopath==0.1.9
itsdangerous==2.1.2
jaraco.classes==3.2.3
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonschema==4.17.3
keyring==23.13.1
kiwisolver==1.4.4
langchain
layoutparser==0.3.4
linkify-it-py==2.0.0
lit==16.0.0
llama-cpp-python==0.1.27
llama-index==0.5.21
lockfile==0.12.2
loguru==0.7.0
lru-dict==1.1.8
lxml==4.9.2
lz4==4.3.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
mdit-py-plugins==0.3.3
mdurl==0.1.2
monotonic==1.6
more-itertools==9.1.0
mpmath==1.3.0
msg-parser==1.2.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
networkx==3.0
nltk==3.8.1
numexpr==2.8.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
olefile==0.46
omegaconf==2.3.0
onnxruntime==1.14.1
openai==0.27.4
openapi-schema-pydantic==1.2.4
opencv-python==4.6.0.66
openpyxl==3.1.2
orjson==3.8.9
packaging==23.0
pandas==1.5.3
parsimonious==0.9.0
parso==0.8.3
pathspec==0.11.1
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.8.0
peft==0.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pinecone-client==2.2.1
pkginfo==1.9.6
platformdirs==2.6.2
pluggy
poetry==1.4.1
poetry-core==1.5.2
poetry-plugin-export==1.3.0
portalocker==2.7.0
posthog==2.5.0
praw==7.7.0
prawcore==2.3.0
prompt-toolkit==3.0.38
protobuf
psutil==5.9.4
ptyprocess==0.7.0
PuLP==2.7.0
pure-eval==0.2.2
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycosat
pycparser==2.21
pycryptodome==3.17
pydantic==1.10.7
pydot==1.4.2
pydub==0.25.1
pydyf==0.6.0
Pygments==2.14.0
pyOpenSSL==23.1.1
pyowm==3.3.0
pypandoc==1.11
pyparsing==3.0.9
pyphen==0.14.0
pyproject_hooks==1.0.0
pyrsistent==0.19.3
PySocks==1.7.1
pytesseract==0.3.10
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-magic==0.4.27
python-multipart==0.0.6
python-pptx==0.6.21
pytz==2023.2
PyYAML==6.0
rapidfuzz==2.13.7
regex==2023.3.23
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
responses==0.18.0
rfc3986==1.5.0
rich==13.0.1
rlp==3.0.0
rsa==4.9
ruamel.yaml
ruamel.yaml.clib
rwkv==0.7.3
s3transfer==0.6.0
safetensors==0.3.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
SecretStorage==3.3.3
semantic-version==2.10.0
sentence-transformers==2.2.2
sentencepiece==0.1.98
shellingham==1.5.0.post1
six==1.16.0
sniffio==1.3.0
soupsieve==2.4
SQLAlchemy==1.4.47
stack-data==0.6.2
starlette==0.26.1
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==2.2.0
threadpoolctl==3.1.0
tiktoken==0.3.3
timm==0.6.13
tinycss2==1.2.1
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.7
toolz==0.12.0
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
tqdm==4.65.0
traitlets==5.9.0
transformers==4.27.4
triton==2.0.0
trove-classifiers==2023.3.9
typing-inspect==0.8.0
typing_extensions==4.5.0
uc-micro-py==1.0.1
unstructured==0.5.11
unstructured-inference==0.3.2
update-checker==0.18.0
urllib3==1.26.15
uvicorn==0.21.1
uvloop==0.17.0
virtualenv==20.21.0
Wand==0.6.11
watchfiles==0.19.0
wcwidth==0.2.6
weasyprint==58.1
web3
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.2.3
wheel
wrapt==1.14.1
XlsxWriter==3.0.9
xxhash==3.2.0
yacs==0.1.8
yarl==1.8.2
zipp==3.15.0
zopfli==0.2.2
zstandard==0.20.0
